<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10">
                <a class="navbar-brand" href="#!/user/:uid/website/:wid/page">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span>Edit Page</span>
                </a>
            </div>
            <div class="col-xs-1">
                <a class="navbar-brand" href="#!/user/:uid/website/:wid/page">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="col-md-12 page-new-column">
    <label for="Name">Name</label>
    <input ng-model="model.page.name" id="name" class="form-control" placeholder="name" type="text"/>
    <label for="Title">Title</label>
    <textarea id="Title" rows="3" class="form-control">Title </textarea>
    <br>

    <a href="#!/user/:uid/website/:wid/page"
       class="btn btn-block btn-danger">
        Delete
    </a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid float-right">
        <a class="navbar-brand" href="#!/user/:uid">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </a>
    </div>
</nav>








